---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex flex-col w-full">
    <Header title={SITE_TITLE} />
    <main>
      <Hero />
      <Projects />
    </main>
    <Footer />
    <script>
      const mobileMenuToggle = document.getElementById(
        "mobile-menu-toggle"
      ) as HTMLElement | null;
      const mobileMenu = document.getElementById(
        "mobile-menu"
      ) as HTMLElement | null;
      const closeMobileMenu = document.getElementById(
        "close-mobile-menu"
      ) as HTMLElement | null;

      if (mobileMenuToggle && mobileMenu) {
        mobileMenuToggle.addEventListener("click", () => {
          mobileMenu.classList.toggle("hidden");
        });

        if (closeMobileMenu) {
          closeMobileMenu.addEventListener("click", () => {
            mobileMenu.classList.add("hidden");
          });
        }
      }
    </script>
  </body>
</html>
