---
const today = new Date();
---

<footer
  class="flex flex-col items-start h-36 justify-between gap-3 mb-10 px-[90px]"
>
  <h1 class="m-0 text-xl font-bold text-black"><span class="font-thin">Lets</span> Collaborate.</h2>
  <div class="flex justify-items-center space-x-4">asdasd</div>
  <div class="flex justify-items-start gap-2">
    <button
      class="bg-gray-900 hover:bg-gray-800 text-white text-lg underline font-light py-0 px-4 border border-gray-300 rounded-lg shadow-sm"
    >
      Email Me.
    </button>
	<p>farrelf11@gmail.com</p>
  </div>
</footer>
<!-- <style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style> -->
