---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="bg-white shadow-md p-4">
  <nav class="flex items-center justify-between px-[120px]">
    <h2 class="m-0 text-lg font-bold">
      <a href="/" class="text-black">{SITE_TITLE}</a>
    </h2>
    <div class="flex justify-items-center space-x-4">
      <HeaderLink href="/" class="nav-link">Home</HeaderLink>
      <HeaderLink href="/blog" class="nav-link">Blog</HeaderLink>
      <HeaderLink href="/about" class="nav-link">About</HeaderLink>
    </div>
    <div class="flex justify-items-end space-x-2">
      <a
        href="mailto:farrelf11@gmail.com"
        class="bg-gray-900 hover:bg-gray-800 text-white text-lg underline font-light py-0 px-9 border border-gray-300 rounded-lg shadow-sm"
      >
        Say Hello!
      </a>
    </div>
  </nav>
</header>

<!-- <style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style> -->
